@model  ProductQuery.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>管理员登录页面</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
</head>
<body id="reportsPage">

    <!-- 头标签 -->
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand">
                    <h1 class="tm-site-title mb-0">点火装置数据管理</h1>
                </a>
            </div>
        </nav>
    </div>

    <!-- 登陆文本 -->
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-12 mx-auto tm-login-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="tm-block-title mb-4">欢迎用点火装置管理系统</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            @using (Html.BeginForm("AdminLongin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tm-login-form", role = "form" }))
                            {
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    @Html.TextBoxFor(m => m.name, new { @class = "form-control validate" })
                                    @Html.ValidationMessageFor(m => m.name)
                                </div>

                                <div class="form-group mt-3">
                                    <label for="password">密码</label>
                                    @Html.PasswordFor(m => m.password, new { @class = "form-control validate"})
                                    @Html.ValidationMessageFor(m => m.password)
                                </div>

                                <div class="form-group mt-4">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase">
                                        登录
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾标签 -->
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2019</b> 西安红叶通讯科技有限公司
            </p>
        </div>
    </footer>
</body>
</html>

