@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理员主页面</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function openFrame(url) {
            location.href = url;
        }

        //打开模态框函数
        function openWin(title, url, width, height) {
            //标题位置我们可以进行动态的传入,设置标题
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalTitle").html(title);
            //设定主体内容
            $("#myModalBody").html(frame);
            $("#myModal").modal("show");
        }
        function closeWin() {
            //关闭模态框
            $("#myModal").modal("hide");
        }
    </script>

</head>
<body>
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">点火装置数据管理</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mx-auto h-100">

                        <li class="nav-item">
                            <a class="nav-link" href="../Admin/Instrument">
                                <i class="fas fa-tachometer-alt"></i>
                                仪表盘
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="../Admin/Dictionary">
                                <i class="fa fa-book"></i>
                                <span>
                                    系统字典
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="IgnitionManagement">
                                <i class="fa fa-fire"></i>
                                点火装置管理
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../AdminUser/User_list">
                                <i class="far fa-user"></i>
                                账户
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @{
                                var username = Session["User"] == null ? string.Empty : ((ProductQuery.Models.User)Session["User"]).name;
                            }
                            <a class="nav-link d-block" href="../Admin/AdminLogin">
                                @username
                            </a>
                        </li>
                        <li class="nav-item">
                            @if (Session["User"] == null)
                            {
                                <meta http-equiv="refresh" content="0.0;url=../Admin/AdminLogin" />
                            }
                            else
                            {
                                <a class="nav-link d-block" href="../Admin/AdminLoginoff">
                                    注销
                                </a>
                            }
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                版权 &copy; <b>2019</b> 西安红叶通讯科技有限公司
            </p>
        </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#4E657A; color:#FFF">
                <div class="modal-header" style="padding: 10px;">
                    <h5 class="modal-title" id="myModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" id="myModalBody"></div>
            </div>
        </div>
    </div>

</body>
</html>
