@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理员主页面</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">点火装置数据管理</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mx-auto h-100">

                        <li class="nav-item">
                            <a class="nav-link" href="Instrument">
                                <i class="fas fa-tachometer-alt"></i>
                                仪表盘
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="Dictionary">
                                <i class="fa fa-book"></i>
                                <span>
                                    系统字典
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="IgnitionManagement">
                                <i class="fa fa-fire"></i>
                                点火装置管理
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="AdminUser">
                                <i class="far fa-user"></i>
                                账户
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="AdminLongin">
                                管理员, <b>登录</b>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                版权 &copy; <b>2019</b> 西安红叶通讯科技有限公司
            </p>
        </div>
    </footer>
</body>
</html>
