
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link href="~/Content/jquery-ui-datepicker/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery-ui-datepicker/jquery-ui.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/add.js"></script>
    <style>

        textarea {
            padding: 10px;
            vertical-align: top;
            width: 200px;
        }

            textarea:focus {
                outline-style: solid;
                outline-width: 2px;
            }
    </style>
    <script type="text/javascript">
        var id = 0;
        var image = 1;
        var changgui = 1;
        var suo = 1;
        var baosu = 1;
        var jiekoxinxi = 1;
        var zhiliudianzu = 1;
        var fahuotiaojian = 1;
        var yanqishijian = 1;
        var Isreturn = false;

        $(function () {
            $("#expire_date").datepicker({
                defaultDate: Date.now()
            });
            $("#expire_date2").datepicker({
                defaultDate: Date.now()
            });
            $("#expire_date3").datepicker({
                defaultDate: Date.now()
            });
        });

        function PageInformation(obj) {
            if (obj == "添加信息模块") {
                document.getElementById("form").style.display = "none";
                document.getElementById("form2").style.display = "";
            }
            else {
                document.getElementById("form").style.display = "";
                document.getElementById("form2").style.display = "none";
            }
        }

        function ModuleNumber(obj) {
            if (obj == "产品示意图")
                return image;
            if (obj == "常规")
                return changgui;
            if (obj == "索普通直径")
                return suo;
            if (obj == "爆速")
                return baosu;
            if (obj == "接口信息")
                return jiekoxinxi;
            if (obj == "直流电阻")
                return zhiliudianzu;
            if (obj == "发火条件")
                return fahuotiaojian;
            if (obj == "延期时间")
                return yanqishijian;
        }

        function AddInformationModule(obj) {
            if (obj == "产品示意图" && ModuleNumber(obj) > 10) {
                alert("无法添加图片");
                return;
            }
            var tables = $("table#test");
            var addtr = '<tr id="' + id + '">' +
                '<td class="tm-product-name">' +
                '<ul class="navbar-nav">' +
                '<li class="nav-item">' +
                '<a class="nav-link d-block" href="#' + obj + ModuleNumber(obj) + '" onclick="PageInformation(this.name)">' + obj + ModuleNumber(obj) + '</a>' +
                '</li>' +
                '</ul>' +
                '</td>' +
                '<td class="text-center">' +
                '<a href="#" id="' + id + '" name="' + obj + '" class="tm-product-delete-link" onclick="delAchieve(this.id,this.name,' + ModuleNumber(obj)+')">' +
                '<i class="far fa-trash-alt tm-product-delete-icon"></i>' +
                '</a>' +
                '</td>' +
                '</tr>';

            $(addtr).appendTo(tables);
            GenerateTemplate(obj);
            id++;
        }

        function GenerateTemplate(obj) {
            if (obj == "常规") {
                常规(obj);
                changgui++;
            }
            if (obj == "产品示意图") {
                产品示意图(obj);
                image++;
            }
            if (obj == "索普通直径") {
                索普通直径(obj);
                suo++;
            }
            if (obj == "爆速") {
                爆速(obj);
                baosu++;
            }
            if (obj == "接口信息") {
                接口信息(obj);
                jiekoxinxi++;
            }
            if (obj == "直流电阻") {
                直流电阻(obj);
                zhiliudianzu++;
            }
            if (obj == "发火条件") {
                发火条件(obj);
                fahuotiaojian++;
            }
            if (obj == "延期时间") {
                延期时间(obj);
                yanqishijian++;
            }
        }

        function 产品示意图(obj) {
            document.getElementById(obj + ModuleNumber(obj)).style.display = "";
        }

        function OpenFile(obj) {
            document.getElementById(obj).click();
        }

        $(function () {
            $("#file1").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img1').attr('src', e.target.result);
                        $('#cp1').attr('value', e.target.result);
                        $('#fn1').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file2").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img2').attr('src', e.target.result);
                        $('#cp2').attr('value', e.target.result);
                        $('#fn2').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file3").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img3').attr('src', e.target.result);
                        $('#cp3').attr('value', e.target.result);
                        $('#fn3').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file4").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img4').attr('src', e.target.result);
                        $('#cp4').attr('value', e.target.result);
                        $('#fn4').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file5").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img5').attr('src', e.target.result);
                        $('#cp5').attr('value', e.target.result);
                        $('#fn5').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file6").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img6').attr('src', e.target.result);
                        $('#cp6').attr('value', e.target.result);
                        $('#fn6').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file7").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img7').attr('src', e.target.result);
                        $('#cp7').attr('value', e.target.result);
                        $('#fn7').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file8").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img8').attr('src', e.target.result);
                        $('#cp8').attr('value', e.target.result);
                        $('#fn8').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file9").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img9').attr('src', e.target.result);
                        $('#cp9').attr('value', e.target.result);
                        $('#fn9').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function () {
            $("#file10").on("change", function () {
                var file = this.files[0];
                if (file != null) {
                    if (!/image\/\w+/.test(file.type)) {
                        alert('上传的不是图片');
                        return false;
                    }
                }
                var fileSize = file.size / 1024;
                if (fileSize > 5000) {
                    alert("您选择的图片太大，请选择小于5M的图片");
                    return;
                }
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img10').attr('src', e.target.result);
                        $('#cp10').attr('value', e.target.result);
                        $('#fn10').text(file.name);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });

        $(function(){
        $.fn.autoHeight = function(){
        function autoHeight(elem){
            elem.style.height = 'auto';
            elem.scrollTop = 0; //防抖动
            elem.style.height = elem.scrollHeight + 'px';
        }
        this.each(function(){
            autoHeight(this);
            $(this).on('keyup', function(){
                autoHeight(this);
            });
        });
    }
    $('textarea[autoHeight]').autoHeight();
})

        function clearNoNum(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        }

        function delAchieve(id, obj, number) {
            if (obj != "产品示意图") {
                $("table#test #" + id + "").remove();
                $("form#form #" + id + "").remove();s
            }
            else {
                $("table#test #" + id + "").remove();
                document.getElementById(obj + number).style.display = "none"
                document.getElementById("file" + number).value = "";
                document.getElementById("cp" + number).value = "";
            }
        }

        function FormSubmission() {
            var yzrq = true;
            var sjdxrq = true;
            var scdxrq = true;
            if (document.getElementById("expire_date").value != "") {
                var str = document.getElementById("expire_date").value.trim();
                if (str.length != 0) {
                    var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})/;
                    yzrq = str.match(reg);
                    if (yzrq == null)
                        yzrq = false;
                }
            }
            if (document.getElementById("expire_date2").value != "") {
                var str = document.getElementById("expire_date2").value.trim();
                if (str.length != 0) {
                    var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})/;
                    sjdxrq = str.match(reg);
                    if (sjdxrq == null)
                        sjdxrq = false;
                }
            }
            if (document.getElementById("expire_date3").value != "") {
                var str = document.getElementById("expire_date3").value.trim();
                if (str.length != 0) {
                    var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})/;
                    scdxrq = str.match(reg);
                    if (scdxrq == null)
                        scdxrq = false;
                }
            }
            if (document.getElementById("类别").value == "请选择" || document.getElementById("产品名称").value == "" || yzrq == false || sjdxrq == false || scdxrq == false || Isreturn) {
                if (document.getElementById("类别").value == "请选择")
                    document.getElementById("lb").style.display = "";
                else
                    document.getElementById("lb").style.display = "none";
                if (document.getElementById("产品名称").value == "")
                    document.getElementById("cpmc").style.display = "";
                else
                    document.getElementById("cpmc").style.display = "none";
                if (yzrq == false)
                    document.getElementById("yzrq").style.display = "";
                else
                    document.getElementById("yzrq").style.display = "none";
                if (sjdxrq == false)
                    document.getElementById("sjdxrq").style.display = "";
                else
                    document.getElementById("sjdxrq").style.display = "none";
                if (scdxrq == false)
                    document.getElementById("scdxrq").style.display = "";
                else
                    document.getElementById("scdxrq").style.display = "none";
                alert("信息输入有误！");
                return;
            }
            document.getElementById('btn1').disabled = true;
            setTimeout(function () {
                document.getElementById('btn1').disabled = false;
            }, 2000);
            Add();
        }

        function Add() {
            var flag = confirm("是否要添加信息？");
            if (flag) {
                 $.ajax({
                url: "@Url.Action("AddInformation")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[0]) {
                            alert("添加成功");
                            parent.openFrame("Information");
                        }
                        else {
                            if (data[1]) {
                                alert("存在上限值小于下限值，请重新输入");
                                return;
                            }
                            else {
                                if (data[2]) {
                                    alert("存在输入值过大，请重新输入");
                                    return;
                                }
                                alert("未选择单位或者选择单位的值为空");
                                return;
                            }
                            alert("添加失败");
                            return;
                        }
                    }
                }
            });
            }
        }
    </script>
</head>
<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 form-control container tm-mt-big tm-bg-primary-dark tm-block tm-block-h-auto" style="margin-left:13%;height:10%">
                <div>
                    <h2 class="tm-block-title">信息模块</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table" id="test">
                            <tbody>
                                <tr>
                                    <td class="tm-product-name">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link d-block" href="#主页信息" name="主页信息" onclick="PageInformation(this.id)">
                                                    主页信息
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-primary btn-block text-uppercase mb-3" name="添加信息模块" id="添加信息模块" onclick="PageInformation(this.id)">
                        添加信息模块
                    </button>
                </div>
            </div>
            <div class=" form-control container tm-mt-big tm-bg-primary-dark tm-block tm-block-h-auto" style="margin-right:13%;overflow-y:scroll;overflow-x:hidden;height:640px;width:55%">
                <form action="/Add/AddInformation" method="post" class="tm-signup-form" id="form" name="基本信息">
                    <div class="row" id="主页信息">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">基本信息</h1>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="类别">类别</label>
                            <label for="验证" style="color:orangered;display:none" id="lb">*请选择类别</label>
                            <select class="custom-select" name="类别" id="类别">
                                <option value="请选择">请选择</option>
                                <option value="点火具">点火具</option>
                                <option value="点火管">点火管</option>
                                <option value="传火管">传火管</option>
                                <option value="点火器">点火器</option>
                                <option value="火帽">火帽</option>
                                <option value="底火">底火</option>
                                <option value="点火头">点火头</option>
                                <option value="点火组件">点火组件</option>
                                <option value="抛射药盒">抛射药盒</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="产品名称">产品名称</label>
                            <label for="验证" style="color:orangered;display:none" id="cpmc">*产品名称不能为空</label>
                            <input name="产品名称" class="form-control validate" type="text" id="产品名称">

                        </div>
                        <div class="form-group col-lg-6">
                            <label for="设计单位">设计单位</label>
                            <input name="设计单位" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="生产单位">生产单位</label>
                            <input name="生产单位" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="型号">型号</label>
                            <input name="型号" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="图号">图号</label>
                            <input name="图号" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="代号">代号</label>
                            <input name="代号" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="研制日期">研制日期</label>
                            <label for="验证" style="color:orangered;display:none" id="yzrq">*日期格式有误</label>
                            <input name="研制日期" class="form-control validate" type="text" id="expire_date">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="设计定型日期">定型日期</label>
                            <label for="验证" style="color:orangered;display:none" id="sjdxrq">*日期格式有误</label>
                            <input name="设计定型日期" class="form-control validate" type="text" id="expire_date2">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="生产定型日期">工艺定型</label>
                            <label for="验证" style="color:orangered;display:none" id="scdxrq">*日期格式有误</label>
                            <input name="生产定型日期" class="form-control validate" type="text" id="expire_date3">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="用途">用途</label>
                            <textarea class="form-control validate tm-small" name="用途"></textarea>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="系统组成">系统组成</label>
                            <input name="系统组成" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="目前阶段">目前阶段</label>
                            <input name="目前阶段" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="机械性能">机械性能</label>
                            <input name="机械性能" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="电性能">电性能</label>
                            <input name="电性能" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="功能">功能</label>
                            <input name="功能" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="环境试验">环境试验</label>
                            <input name="环境试验" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="桥丝数目">桥丝数目</label>
                            <input name="桥丝数目" class="form-control validate" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="贮存寿命">贮存寿命</label>
                            <label for="单位">(年)</label>
                            <input name="贮存寿命" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="贮存寿命备注">贮存寿命备注</label>
                            <textarea class="form-control validate tm-small" name="贮存寿命备注" ></textarea>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="可靠度">可靠度</label>
                            <input name="可靠度" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="基本性能">基本性能</label>
                            <input name="基本性能" class="form-control validate" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="试验环境指标范围">试验环境指标范围</label>
                            <textarea class="form-control validate tm-small" name="试验环境指标范围"></textarea>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="主要性能指标">主要性能指标</label>
                            <textarea class="form-control validate tm-small" name="主要性能指标"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">常规</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="宽度">宽度</label>
                            <input name="宽度" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="脚线">脚线</label>
                            <input name="脚线" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="总长度">总长度</label>
                            <input name="总长度" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">隔板厚度</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="隔板厚度">隔板厚度</label>
                            <input name="隔板厚度" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">索</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索直径下限">索直径下限</label>
                            <label for="验证" style="color:red;display:none" id="szjxx">*不能为空</label>
                            <input name="索直径下限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="索直径下限" onblur="Valuevalidate11()">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索直径上限">索直径上限</label>
                            <label for="验证" style="color:red;display:none" id="szjsx">*不能为空</label>
                            <label for="验证" style="color:red;display:none" id="szjsxx">*上限小于下限</label>
                            <input name="索直径上限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="索直径上限" onblur="Valuevalidate11()">
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="索MDF（银质）直径">索MDF（银质）直径</label>
                            <input name="索MDF（银质）直径" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索备注">索备注</label>
                            <textarea class="form-control validate tm-small" name="索备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">六方对角</h2>
                            <label for="六方对角">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="对边">对边</label>
                            <input name="对边" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="对角线">对角线</label>
                            <input name="对角线" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="六方对角备注">六方对角备注</label>
                            <textarea class="form-control validate tm-small" name="六方对角备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">检测电流</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="检测电流">检测电流</label>
                            <label for="danwei">(mA)</label>
                            <input name="检测电流" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">静电感度</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电电容">静电电容</label>
                            <label for="danwei">(pf)</label>
                            <input name="静电电容" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电电压">静电电压</label>
                            <label for="danwei">(V)</label>
                            <input name="静电电压" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="串联电阻">串联电阻</label>
                            <label for="danwei">(Ω)</label>
                            <input name="串联电阻" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电感度备注">静电感度备注</label>
                            <textarea class="form-control validate tm-small" name="静电感度备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">作用时间瞬发度</h2>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间">作用时间</label>
                            <label for="验证" style="color:red;display:none" id="zysj">*不能为空</label>
                            <input name="作用时间" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="作用时间" onblur="Unitvalidate11()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="zysjdw">*选择</label>
                            <select class="custom-select" name="作用时间单位" id="作用时间单位" onblur="Unitvalidate11()">
                                <option value="请选择">请选择</option>
                                <option value="ns">ns</option>
                                <option value="μs">μs</option>
                                <option value="ms">ms</option>
                                <option value="s">s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间下限">作用时间下限</label>
                            <label for="验证" style="color:red;display:none" id="zysjxx">*不能为空</label>
                            <input name="作用时间下限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="作用时间下限" onblur="UnitAndValuevalidate4()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="zysjxxdw">*选择</label>
                            <select class="custom-select select2" name="作用时间下限单位" id="作用时间下限单位" onblur="UnitAndValuevalidate4()" onchange="Tb1(this,'select2')">
                                <option value="请选择">请选择</option>
                                <option value="ns">ns</option>
                                <option value="μs">μs</option>
                                <option value="ms">ms</option>
                                <option value="s">s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间上限">作用时间上限</label>
                            <label for="验证" style="color:red;display:none" id="zysjsx">*不能为空</label>
                            <label for="验证" style="color:red;display:none" id="zysjsxx">*上限小于下限</label>
                            <input name="作用时间上限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="作用时间上限" onblur="UnitAndValuevalidate4()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="zysjsxdw">*选择</label>
                            <select class="custom-select select2" name="作用时间上限单位" id="作用时间上限单位" onblur="UnitAndValuevalidate4()" onchange="Tb1(this,'select2')">
                                <option value="请选择">请选择</option>
                                <option value="ns">ns</option>
                                <option value="μs">μs</option>
                                <option value="ms">ms</option>
                                <option value="s">s</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="作用时间备注">作用时间备注</label>
                            <textarea class="form-control validate tm-small" name="作用时间备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">安全电流</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="桥个数">桥个数</label>
                            <input name="安全电流桥个数" class="form-control validate" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值">安全电流值</label>
                            <label for="验证" style="color:red;display:none" id="aqdlz">*不能为空</label>
                            <input name="安全电流值" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="安全电流值" onblur="Unitvalidate12()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzdw">*选择</label>
                            <select class="custom-select" name="安全电流值单位" id="安全电流值单位" onblur="Unitvalidate12()">
                                <option value="请选择">请选择</option>
                                <option value="mA">mA</option>
                                <option value="A">A</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值下限">安全电流值下限</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzxx">*不能为空</label>
                            <input name="安全电流值下限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="安全电流值下限" onblur="UnitAndValuevalidate5()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzxxdw">*选择</label>
                            <select class="custom-select select1" name="安全电流值下限单位" id="安全电流值下限单位" onblur="UnitAndValuevalidate5()" onchange="Tb1(this,'select1')">
                                <option value="请选择">请选择</option>
                                <option value="mA">mA</option>
                                <option value="A">A</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值上限">安全电流值上限</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzsx">*不能为空</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzsxx">*上限小于下限</label>
                            <input name="安全电流值上限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="安全电流值上限" onblur="UnitAndValuevalidate5()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="aqdlzsxdw">*选择</label>
                            <select class="custom-select select1" name="安全电流值上限单位" id="安全电流值上限单位" onblur="UnitAndValuevalidate5()" onchange="Tb1(this,'select1')">
                                <option value="请选择">请选择</option>
                                <option value="mA">mA</option>
                                <option value="A">A</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="时间值">时间值</label>
                            <label for="验证" style="color:red;display:none" id="sjz">*不能为空</label>
                            <input name="时间值" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="时间值" onblur="Unitvalidate13()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="sjzdw">*选择</label>
                            <select class="custom-select" name="时间值单位" id="时间值单位" onblur="Unitvalidate13()">
                                <option value="请选择">请选择</option>
                                <option value="min">min</option>
                                <option value="s">s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="功率值">功率值</label>
                            <label for="danwei">(W)</label>
                            <input name="功率值" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电流备注">安全电流备注</label>
                            <textarea class="form-control validate tm-small" name="安全电流备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">安全电压</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电压电压">安全电压电压</label>
                            <label for="danwei">(V)</label>
                            <input name="安全电压电压" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电压电容">安全电压电容</label>
                            <label for="验证" style="color:red;display:none" id="aqdydr2">*不能为空</label>
                            <input name="安全电压电容" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="安全电压电容" onblur="Unitvalidate14()">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <label for="验证" style="color:red;display:none" id="aqdydrdw2">*选择</label>
                            <select class="custom-select" name="安全电压电容单位" id="安全电压电容单位" onblur="Unitvalidate14()">
                                <option value="请选择">请选择</option>
                                <option value="μf">μf</option>
                                <option value="pf">pf</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电压电容备注">安全电压电容备注</label>
                            <textarea class="form-control validate tm-small" name="安全电压电容备注"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">燃烧压力</h2>
                            <label for="danwei">单位：(MPa)</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="燃烧压力下限">燃烧压力下限</label>
                            <label for="验证" style="color:red;display:none" id="rsylxx">*不能为空</label>
                            <input name="燃烧压力下限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="燃烧压力下限" onblur="Valuevalidate12()">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="燃烧压力上限">燃烧压力上限</label>
                            <label for="验证" style="color:red;display:none" id="rsylsx">*不能为空</label>
                            <label for="验证" style="color:red;display:none" id="rsylsxx">*上限小于下限</label>
                            <input name="燃烧压力上限" class="form-control validate" type="text" onkeyup="clearNoNum(this)" autocomplete="off" id="燃烧压力上限" onblur="Valuevalidate12()">
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="燃烧压力备注">燃烧压力备注</label>
                            <textarea class="form-control validate tm-small" name="燃烧压力备注"></textarea>
                        </div>
                    </div>
                    <div id="产品示意图1" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图1</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img1" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file1')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn1"></span>
                        </div>
                    </div>
                    <input id="file1" name="file1" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp1" id="cp1" type="text" style="display:none" value="">

                    <div id="产品示意图2" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图2</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img2" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file2')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn2"></span>
                        </div>
                    </div>
                    <input id="file2" name="file2" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp2" id="cp2" type="text" style="display:none" value="">

                    <div id="产品示意图3" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图3</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img3" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file3')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn3"></span>
                        </div>
                    </div>
                    <input id="file3" name="file3" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp3" id="cp3" type="text" style="display:none" value="">

                    <div id="产品示意图4" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图4</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img4" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file4')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn4"></span>
                        </div>
                    </div>
                    <input id="file4" name="file4" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp4" id="cp4" type="text" style="display:none" value="">

                    <div id="产品示意图5" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图5</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img5" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file5')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn5"></span>
                        </div>
                    </div>
                    <input id="file5" name="file5" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp5" id="cp5" type="text" style="display:none" value="">

                    <div id="产品示意图6" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图6</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img6" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file6')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn6"></span>
                        </div>
                    </div>
                    <input id="file6" name="file6" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp6" id="cp6" type="text" style="display:none" value="">

                    <div id="产品示意图7" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图7</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img7" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file7')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn7"></span>
                        </div>
                    </div>
                    <input id="file7" name="file7" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp7" id="cp7" type="text" style="display:none" value="">

                    <div id="产品示意图8" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图8</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img8" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file8')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn8"></span>
                        </div>
                    </div>
                    <input id="file8" name="file8" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp8" id="cp8" type="text" style="display:none" value="">

                    <div id="产品示意图9" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图9</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img9" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file9')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn9"></span>
                        </div>
                    </div>
                    <input id="file9" name="file9" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp9" id="cp9" type="text" style="display:none" value="">

                    <div id="产品示意图10" style="display:none">
                        <div class="form-group col-lg-12">
                            <h1 class="tm-site-title mb-0">产品示意图10</h1>
                        </div>
                        <label style="display:none">选择图片</label>
                        <div class="tm-avatar-container">
                            <img id="img10" src="../image/管理员.jpg" alt="" class="tm-avatar img-fluid mb-4" />
                            <a href="#" class="tm-avatar-delete-link" onclick="OpenFile('file10')"><i class="fas fa-cloud-upload-alt tm-upload-icon"></i></a>
                            <span id="fn10"></span>
                        </div>
                    </div>
                    <input id="file10" name="file10" type="file" accept="image/gif, image/jpeg, image/jpg, image/png" style="display:none" />
                    <input name="cp10" id="cp10" type="text" style="display:none" value="">
                </form>

                <form class="tm-signup-form row" style="display:none" id="form2" name="添加模块">
                    <div class="form-group col-lg-12">
                        <h1 class="tm-site-title mb-0">请选择添加的信息模块</h1>
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="常规" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="索普通直径" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="爆速" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="接口信息" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="直流电阻" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="发火条件" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="延期时间" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="产品示意图" onclick="AddInformationModule(this.value)" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7 container" style="margin-right:11%;margin-top:1%">
            <input type="button" class="btn btn-primary btn-block text-uppercase" onclick="FormSubmission()" id="btn1" value="提交">
        </div>
    </div>
</body>
<script src="~/Content/js/autosize.js"></script>

<script>
    autosize(document.querySelectorAll('textarea'));
</script>
</html>


