
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日期时间选择器集合</title>
    <!--时间css start-->
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <!--时间css end-->
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettify-1.0.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!--时间js start-->
    <script src="js/moment-with-locales.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="js/base.js"></script>
    <!--时间js end-->
    <script type="text/javascript">
        
        $(function () {

            $("#expire_date2").datepicker({
                defaultDate: Date.now()
            });
            $("#expire_date3").datepicker({
                defaultDate: Date.now()
            });
        });
    </script>
</head>
<body style="overflow-x:hidden;">
    <div class="container">
            <h3 id="a3">单选年月日</h3>
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type='text' class="form-control" id='datetimepicker3' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

