@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/templatemo-style.css" rel="stylesheet" />
</head>
    <body>
        <div class="">
            <nav class="navbar navbar-expand-xl">
                <div class="container h-100">
                    <h1 class="tm-site-title mb-0">火工品查询</h1>
                    <button type="submit" class="navbar-left"></button>
                </div>
            </nav>
        </div>
    </body>
</html>
