@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (TempData["InputResult"] != null)
        {
            <ul>
                @foreach (var item in (List<string>)TempData["InputResult"])
                {
                    <li>@item</li>
                }
            </ul>
        }
    </div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>
            <div id="TextBoxesGroup">
                <input type="text" id="textbox1" name="textbox1" />
            </div>
            <hr />
            @Html.Hidden("TextBoxCount", 1)
            <input type="button" value="添加" id="add" />
            <input type="button" value="移除" id="remove" />
            <input type="submit" value="提交" />
        </div>
    }

   @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                //默认焦点
                $('#textbox1').focus();

                //点击添加
                $('#add').click(function () {
                    //从隐藏域中获取当前文本框的数量
                    var currentCount = parseInt($('#TextBoxCount').val(), 10);

                    //文本框数量加1
                    var newCount = currentCount + 1;

                    //创建新的文本框
                    var newInput = $(document.createElement('Input')).attr({
                        "type": "text",
                        "id": "textbox" + newCount,
                        "name": "textbox" + newCount
                    });

                    //把新的文本框附加到区域中
                    $('#TextBoxesGroup').append(newInput);

                    //把当前文本框的数量赋值到用来计数隐藏域
                    $('#TextBoxCount').val(newCount);

                    //把焦点转移到新添加的文本框中来
                    $('#textbox' + newCount).focus();
                });

                //点击移除
                $('#remove').click(function () {
                    //从隐藏域中获取当前文本框的数量
                    var currentCount = parseInt($('#TextBoxCount').val(), 10);
                    if (currentCount == 0) {
                        alert('已经没有文本框可以被移除了~~');
                        return false;
                    }
                    //移除当前文本框
                    $('#textbox' + currentCount).remove();

                    //把新的文本框计数赋值给隐藏域
                    var newCount = currentCount - 1;
                    $('#TextBoxCount').val(newCount);
                });
            });
        </script>
    }
</body>
</html>
