@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>火工品高级查询</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head >

                <body>
                    <div>
                        <nav class="navbar navbar-expand-xl">
                            <div class="container h-100">
                                <h1 class="tm-site-title mb-0">火工品查询</h1>
                            </div>
                        </nav>

                        <div class="form-group container tm-mt-big tm-mb-big tm-bg-primary-dark tm-block tm-block-h-auto">

                            <div class="row tm-content-row">
                                <div class="col-12 tm-block-col">
                                    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">

                                        <div id="complex-query" style="margin-left:50px;margin-top:20px;">
                                            <a id="complexBtn-json" class="layui-btn ">复杂查询</a><br />
                                            <br />
                                            <div id="msg-json">查询条件：</div>
                                            <br />
                                        </div>

                                        <ul id="dcDemo" style="display:none;">
                                            <li field="o-lb-o" title="类别" edit="select" templet="#select_lb"></li>
                                            <li field="o-sjdw-o" title="设计单位" edit="text"></li>
                                            <li field="o-scdw-o" title="生产单位" edit="text"></li>
                                            <li field="o-xh-o" title="型号" edit="text"></li>
                                            <li field="o-th-o" title="图号" edit="text"></li>
                                            <li field="o-dh-o" title="代号" edit="text"></li>
                                            <li field="o-yzrq-o" title="研制日期" edit="date"></li>
                                            <li field="o-dxrq-o" title="定型日期" edit="date"></li>
                                            <li field="o-gydx-o" title="工艺定型" edit="date"></li>
                                            <li field="o-yt-o" title="用途" edit="text"></li>
                                            <li field="o-xtzc-o" title="目前阶段" edit="text"></li>
                                            <li field="o-qssm-o" title="桥丝数目" edit="text" layVerify="number"></li>
                                            <li field="o-zcsm-o" title="贮存寿命" edit="text" layVerify="number"></li>

                                            <li field="Conventionals-zj-cd" title="直径" edit="text" layVerify="number"></li>
                                            <li field="Conventionals-cd-cd" title="长度" edit="text" layVerify="number"></li>
                                            <li field="o-jx-cd" title="脚线" edit="text" layVerify="number"></li>
                                            <li field="o-zcd-cd" title="总长度" edit="text" layVerify="number"></li>
                                            <li field="o-gbhd-cd" title="隔板厚度" edit="text" layVerify="number"></li>
                                            <li field="o-szj-cd" title="索直径" edit="text" layVerify="number"></li>

                                            <li field="CableDiameters-sptzj-cd" title="索普通直径" edit="text" layVerify="number"></li>

                                            <li field="o-sMDFyzzj-cd" title="索MDF（银质）直径" edit="text" layVerify="number"></li>

                                            <li field="SpeedDetonations-bs-o" title="爆速范围（m/s）" edit="text" layVerify="number"></li>
                                            <li field="SpeedDetonations-bsbz-o" title="爆速备注" edit="text"></li>

                                            <li field="o-db-cd" title="对边" edit="text" layVerify="number"></li>
                                            <li field="o-dj-cd" title="对角" edit="text" layVerify="number"></li>

                                            <li field="InterfaceInformations-lw-cd" title="螺纹" edit="text" layVerify="number"></li>
                                            <li field="InterfaceInformations-lj-cd" title="螺距" edit="text" layVerify="number"></li>
                                            <li field="InterfaceInformations-cd-cd" title="长度" edit="text" layVerify="number"></li>

                                            <li field="DcResistances-qgs-o" title="直流电阻桥个数" edit="text" layVerify="number"></li>
                                            <li field="DcResistances-dzfw-dz" title="电阻范围" edit="text" layVerify="number"></li>
                                            <li field="DcResistances-dzz-dz" title="电阻值" edit="text" layVerify="number"></li>
                                            <li field="DcResistances-dzgc-dz" title="电阻公差" edit="text" layVerify="number"></li>
                                            <li field="DcResistances-dzxyz-dz" title="电阻小于值" edit="text" layVerify="number"></li>
                                            <li field="DcResistances-dzbz" title="电阻备注" edit="text"></li>

                                            <li field="o-jcdl-dl" title="检测电流" edit="text" layVerify="number"></li>
                                            <li field="o-jddr-dr" title="静电电容" edit="text" layVerify="number"></li>
                                            <li field="o-jddy-dy" title="静电电压" edit="text" layVerify="number"></li>
                                            <li field="o-cldz-dz" title="串联电阻" edit="text" layVerify="number"></li>

                                            <li field="IgnitionConditions-qgs-o" title="桥个数" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-fhdy-dy" title="发火电压" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-fhdr-dr" title="发火电容" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-fhdlsj-dl" title="发火电流" edit="text" layVerify="number"></li>

                                            <li field="IgnitionConditions-fhdlsj-o" title="发火电流时间" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-cz-zl" title="锤重" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-lg-cd" title="落高" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-jzcj-o" title="激针刺激（g•cm）" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-jzl-o" title="激针力" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-jztcl-cd" title="激针突出量" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-thgd-cd" title="弹簧高度" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-kl-o" title="抗力" edit="text" layVerify="number"></li>
                                            <li field="IgnitionConditions-nl-nl" title="能量" edit="text" layVerify="number"></li>

                                            <li field="o-zysj-sj" title="作用时间" edit="text" layVerify="number"></li>
                                            <li field="o-zysjbz-o" title="作用时间备注" edit="text"></li>

                                            <li field="DelayTimes-wdtj-o" title="温度条件（摄氏度）" edit="text" layVerify="number"></li>
                                            <li field="DelayTimes-yssj-sj" title="延时时间" edit="text" layVerify="number"></li>
                                            <li field="DelayTimes-yssjbz-o" title="延时时间备注" edit="text"></li>

                                            <li field="o-qgs-o" title="桥个数" edit="text" layVerify="number"></li>
                                            <li field="o-aqdlz-dl" title="安全电流值" edit="text" layVerify="number"></li>
                                            <li field="o-sjz-sj" title="时间值" edit="text" layVerify="number"></li>
                                            <li field="o-glz-o" title="功率值" edit="text" layVerify="number"></li>
                                            <li field="o-aqdlbz-o" title="安全电流备注" edit="text"></li>
                                            <li field="o-aqdydy-dy" title="安全电压电压" edit="text" layVerify="number"></li>
                                            <li field="o-aqdrdr-dr" title="安全电容电容" edit="text" layVerify="number"></li>
                                            <li field="o-rsyl-o" title="燃烧压力" edit="text" layVerify="number"></li>
                                            <li field="o-rsylbz-o" title="燃烧压力备注" edit="text"></li>
                                        </ul>

                                        <script type="text/html" id="select_lb">
                                            <select>
                                                <option value="">-请选择-</option>
                                                <option value="点火具">点火具</option>
                                                <option value="点火管">点火管</option>
                                                <option value="传火管">传火管</option>
                                                <option value="点火器">点火器</option>
                                                <option value="火帽">火帽</option>
                                                <option value="底火">底火</option>
                                                <option value="点火头">点火头</option>
                                                <option value="点火组件">点火组件</option>
                                                <option value="抛射药盒">抛射药盒</option>
                                            </select>
                                       </script>

                    </div>
                </div>
            </div>
            
        </div>

        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    版权 &copy; <b>2019</b> 西安红叶通讯科技有限公司
                </p>
            </div>
        </footer>
    </div>
    
    <script type="text/javascript">
        layui.config({
            base: '../../Content/'//模块存放的目录
        }).extend({
            dynamicCondition: '/dynamicCondition'
        }).use(['table', 'form', 'dynamicCondition'], function () {
            var $ = layui.$, table = layui.table, form = layui.table;
            var dynamicCondition = layui.dynamicCondition;

            var dataFields = [{ field: "o-lb-o", title: "类别", edit: "select", templet: "#select_lb" }
                , { field: "o-sjdw-o", title: "设计单位", edit: "text", layVerify: "text"}
                , { field: "o-scdw-o", title: "生产单位", edit: "text" }
                , { field: "o-xh-o", title: "型号", edit: "text" }
                , { field: "o-th-o", title: "图号", edit: "text" }
                , { field: "o-dh-o", title: "代号", edit: "text" }
                , { field: "o-yzrq-o", title: "研制日期", edit: "date" }
                , { field: "o-dxrq-o", title: "定型日期", edit: "date" }
                , { field: "o-gydx-o", title: "工艺定型", edit: "date" }
                , { field: "o-yt-o", title: "用途", edit: "date" }
                , { field: "o-xtzc-o", title: "系统组成", edit: "text" }
                , { field: "o-mqjd-o", title: "目前阶段", edit: "text" }
                , { field: "o-qssm-o", title: "桥丝数目", edit: "text", layVerify: "number" }
                , { field: "o-zcsm-o", title: "贮存寿命", edit: "text", layVerify: "number" }

                //常规查询属性
                , { field: "Conventionals-zj-cd", title: "直径", edit: "text", layVerify: "number" }
                , { field: "Conventionals-cd-cd", title: "长度", edit: "text", layVerify: "number" }

                , { field: "o-jx-cd", title: "脚线", edit: "text", layVerify: "number" }
                , { field: "o-zcd-cd", title: "总长度", edit: "text", layVerify: "number" }
                , { field: "o-gbhd-cd", title: "隔板厚度", edit: "text", layVerify: "number" }
                , { field: "o-szj-cd", title: "索直径", edit: "text", layVerify: "number" }

                //索普通直径
                , { field: "CableDiameters-sptzj-cd", title: "索普通直径", edit: "text", layVerify: "number" }

                , { field: "o-sMDFyzzj-cd", title: "索MDF（银质）直径", edit: "text", layVerify: "number" }

                //速爆
                , { field: "SpeedDetonations-bs-o", title: "爆速上限（m/s）", edit: "text", layVerify: "number" }
                , { field: "SpeedDetonations-bsbz-o", title: "爆速备注", edit: "text" }

                , { field: "o-db-cd", title: "对边", edit: "text", layVerify: "number" }
                , { field: "o-dj-cd", title: "对角", edit: "text", layVerify: "number" }

                //接口信息
                , { field: "InterfaceInformations-lw-cd", title: "螺纹", edit: "text", layVerify: "number" }
                , { field: "InterfaceInformations-lj-cd", title: "螺距", edit: "text", layVerify: "number" }
                , { field: "InterfaceInformations-cd-cd", title: "长度", edit: "text", layVerify: "number" }

                //直流电阻
                , { field: "DcResistances-qgs-o", title: "直流电阻桥个数", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzfw-dz", title: "电阻范围", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzz-dz", title: "电阻值", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzgc-dz", title: "电阻公差", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzxyz-dz", title: "电阻小于值", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzbz-o", title: "电阻备注", edit: "text" }

                , { field: "o-jcdl-dl", title: "检测电流", edit: "text", layVerify: "number" }
                , { field: "o-jddr-dr", title: "静电电容", edit: "text", layVerify: "number" }
                , { field: "o-jddy-dy", title: "静电电压", edit: "text", layVerify: "number" }
                , { field: "o-cldz-dz", title: "串联电阻", edit: "text", layVerify: "number" }

                //发火条件
                , { field: "IgnitionConditions-qgs-o", title: "桥个数", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdy-o", title: "发火电压", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdr-dr", title: "发火电容", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdl-dl", title: "发火电流", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdlsj-sj", title: "发火电流时间", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-cz-zl", title: "锤重", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-lg-cd", title: "落高", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jzcj-o", title: "激针刺激（g•cm）", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jzl-o", title: "激针力", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jztcl-cd", title: "激针突出量", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-thgd-cd", title: "弹簧高度", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-kl-o", title: "抗力", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-nl-nl", title: "能量", edit: "text", layVerify: "number" }

                , { field: "o-zysj-sj", title: "作用时间", edit: "text", layVerify: "number" }
                , { field: "o-zysjbz", title: "作用时间备注", edit: "text"}

                //延时时间
                , { field: "DelayTimes-wdtj-o", title: "温度条件（摄氏度）", edit: "text", layVerify: "number" }
                , { field: "DelayTimes-yssj-sj", title: "延时时间", edit: "text", layVerify: "number" }
                , { field: "DelayTimes-yssjbz-o", title: "延时时间备注", edit: "text" }

                , { field: "o-qgs-o", title: "桥个数", edit: "text", layVerify: "number"}
                , { field: "o-aqdlz-dl", title: "安全电流值", edit: "text", layVerify: "number" }
                , { field: "o-sjz-sj", title: "时间值", edit: "text", layVerify: "number" }
                , { field: "o-glz-o", title: "功率值", edit: "text", layVerify: "number" }
                , { field: "o-aqdlbz-o", title: "安全电流备注", edit: "text" }
                , { field: "o-aqdydy-dy", title: "安全电压电压", edit: "text", layVerify: "number" }
                , { field: "o-aqdrdr-dr", title: "安全电容电容", edit: "text", layVerify: "number" }
                , { field: "o-rsyl-o", title: "燃烧压力", edit: "text", layVerify: "number" }
                , { field: "o-rsylbz-o", title: "燃烧压力备注", edit: "text" }
            ];

            //请求参数为json字符串模式
            var dc = dynamicCondition.create({
                elem: "#dcDemo" //通过容器选择器传入，也可以$("#dcDemo"),或者document.getElementById("dcDemo")
                //,tableId:"listTable" //静态页面不好演示table数据表格更新
                , type: "complex"  //type:"simple"/"complex"
                , requestDataType: "json"  //"array"/"json" 默认array
                , conditionTextId: "#msg-json"
                //当有多个动态条件查询实例时，定义instanceName属性可以通过dynamicCondition.getInstance(instanceName)获取对应的实例
                , instanceName: "complexInstance-json"
                , queryCallBack: function (requestData) {
                    $.ajax({
                        url: "@Url.Action("Query")",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(requestData),
                        success: function () {

                        },
                        error: function () {

                        }
                    })
                }
            });

            /**复杂查询*/
            $("#complexBtn-json").on("click", function () {
                dynamicCondition.getInstance("complexInstance-json").open();
            })

        });
    </script>
</body>
</html>
