@model List<ProductQuery.Models.Ignition>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>火工品高级查询</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />


    <script type="text/javascript">
        function openFrame(url) {
            location.href = url;
        }

        //打开模态框函数
        function openWin(title, url, width, height) {
            //标题位置我们可以进行动态的传入,设置标题
            var frame = "<iframe width='" + width + "' height='" + height + "' onscroll='true' style='border: 0px;' src='" + url + "'></iframe>";
            $("#myModalTitle").html(title);
            //设定主体内容
            $("#myModalBody").html(frame);
            $("#myModal").modal("show");
        }
        function closeWin() {
            //关闭模态框
            $("#myModal").modal("hide");
        }
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <h1 class="tm-site-title mb-0">火工品查询</h1>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="../Admin/AdminLogin">
                        管理员登陆
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-block" href="../Admin/AdminLogin">
                        版本信息
                    </a>
                </li>
            </ul>
        </nav>

        <div class="tm-mt-big tm-mb-big tm-bg-primary-dark tm-block tm-block-h-auto">

            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">

                        <div id="complex-query" style="margin-top:20px;">
                            <a id="complexBtn-json" class="layui-btn ">复杂查询</a><br />
                            <br />
                            <div id="msg-json">查询条件：</div>
                            <br />
                        </div>

                        <ul id="dcDemo" style="display:none;">
                            <li field="o-lb-o-StringLike" title="类别" edit="select" templet="#select_lb"></li>
                            <li field="o-sjdw-o-StringLike" title="设计单位" edit="text"></li>
                            <li field="o-scdw-o-StringLike" title="生产单位" edit="text"></li>
                            <li field="o-xh-o-StringLike" title="型号" edit="text"></li>
                            <li field="o-th-o-StringLike" title="图号" edit="text"></li>
                            <li field="o-dh-o-StringLike" title="代号" edit="text"></li>
                            <li field="o-yzrq-o-DateTimeInRange" title="研制日期" edit="date"></li>
                            <li field="o-dxrq-o-DateTimeInRange" title="定型日期" edit="date"></li>
                            <li field="o-gydx-o-DateTimeInRange" title="工艺定型" edit="date"></li>
                            <li field="o-yt-o-StringLike" title="用途" edit="text"></li>
                            <li field="o-xtzc-o-StringLike" title="目前阶段" edit="text"></li>
                            <li field="o-jssm-o-IntInRange" title="桥丝数目" edit="text" layVerify="number"></li>
                            <li field="o-zcsm-o-IntInRange" title="贮存寿命" edit="text" layVerify="number"></li>

                            <li field="Conventionals-zj-cd-DoubleInRange" title="直径" edit="text" layVerify="number"></li>
                            <li field="Conventionals-cd-cd-DoubleInRange" title="常规长度" edit="text" layVerify="number"></li>
                            <li field="o-jx-cd-DoubleInRange" title="脚线" edit="text" layVerify="number"></li>
                            <li field="o-zcd-cd-DoubleInRange" title="总长度" edit="text" layVerify="number"></li>
                            <li field="o-gbhd-cd-DoubleInRange" title="隔板厚度" edit="text" layVerify="number"></li>
                            <li field="o-szj-cd-RangeIntersect" title="索直径" edit="text" layVerify="number"></li>

                            <li field="CableDiameters-ptszj-cd-DoubleInRange" title="普通索直径" edit="text" layVerify="number"></li>

                            <li field="o-sMDFyzzj-cd-DoubleInRange" title="索MDF（银质）直径" edit="text" layVerify="number"></li>

                            <li field="SpeedDetonations-bs-o-RangeIntersect" title="爆速范围（m/s）" edit="text" layVerify="number"></li>
                            <li field="SpeedDetonations-bsbz-o-StringLike" title="爆速备注" edit="text"></li>

                            <li field="o-db-cd-DoubleInRange" title="对边" edit="text" layVerify="number"></li>
                            <li field="o-djx-cd-DoubleInRange" title="对角线" edit="text" layVerify="number"></li>

                            <li field="InterfaceInformations-lw-cd-DoubleInRange" title="螺纹" edit="text" layVerify="number"></li>
                            <li field="InterfaceInformations-lj-cd-DoubleInRange" title="螺距" edit="text" layVerify="number"></li>
                            <li field="InterfaceInformations-cd-cd-DoubleInRange" title="接口长度" edit="text" layVerify="number"></li>

                            <li field="DcResistances-dzqgs-o-IntInRange" title="直流电阻桥个数" edit="text" layVerify="number"></li>
                            <li field="DcResistances-dzfwz-dz-RangeIntersect" title="电阻范围" edit="text" layVerify="number"></li>
                            <li field="DcResistances-dzz-dz-DoubleInRange" title="电阻值" edit="text" layVerify="number"></li>
                            <li field="DcResistances-dzgcz-dz-DoubleInRange" title="电阻公差值" edit="text" layVerify="number"></li>
                            <li field="DcResistances-dzxyz-dz-DoubleInRange" title="电阻小于值" edit="text" layVerify="number"></li>
                            <li field="DcResistances-dzbz-o-StringLike" title="电阻备注" edit="text"></li>

                            <li field="o-jcdl-dl-DoubleInRange" title="检测电流" edit="text" layVerify="number"></li>
                            <li field="o-jddr-dr-DoubleInRange" title="静电电容" edit="text" layVerify="number"></li>
                            <li field="o-jddy-dy-DoubleInRange" title="静电电压" edit="text" layVerify="number"></li>
                            <li field="o-cldz-dz-DoubleInRange" title="串联电阻" edit="text" layVerify="number"></li>

                            <li field="IgnitionConditions-qgs-o-IntInRange" title="发火条件桥个数" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-fhdy-dy-RangeIntersect" title="发火电压" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-fhdr-dr-DoubleInRange" title="发火电容" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-fhdl-dl-RangeIntersect" title="发火电流" edit="text" layVerify="number"></li>

                            <li field="IgnitionConditions-fhdlss-sj-DoubleInRange" title="发火电流时间" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-cz-zl-DoubleInRange" title="锤重" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-lg-cd-DoubleInRange" title="落高" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-jzcjl-o-DoubleInRange" title="激针刺激量（g•cm）" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-jzl-o-RangeIntersect" title="激针力" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-jztcl-cd-RangeIntersect" title="激针突出量" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-thgd-cd-DoubleInRange" title="弹簧高度" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-kl-o-DoubleInRange" title="抗力" edit="text" layVerify="number"></li>
                            <li field="IgnitionConditions-nl-nl-DoubleInRange" title="能量" edit="text" layVerify="number"></li>

                            <li field="o-zysj-sj-RangeIntersect" title="作用时间" edit="text" layVerify="number"></li>
                            <li field="o-zysjbz-o-StringLike" title="作用时间备注" edit="text"></li>

                            <li field="DelayTimes-wdtj-o-DoubleInRange" title="温度条件（摄氏度）" edit="text" layVerify="number"></li>
                            <li field="DelayTimes-yqsj-sj-RangeIntersect" title="延期时间" edit="text" layVerify="number"></li>
                            <li field="DelayTimes-yqsjbz-o-StringLike" title="延期时间备注" edit="text"></li>

                            <li field="o-jgs-o-IntInRange" title="安全电流桥个数" edit="text" layVerify="number"></li>
                            <li field="o-aydlz-dl-RangeIntersect" title="安全电流值" edit="text" layVerify="number"></li>
                            <li field="o-ssj-sj-DoubleInRange" title="时间值" edit="text" layVerify="number"></li>
                            <li field="o-glz-o-DoubleInRange" title="功率值" edit="text" layVerify="number"></li>
                            <li field="o-aqdlbz-o-StringLike" title="安全电流备注" edit="text"></li>
                            <li field="o-aqdydy-dy-DoubleInRange" title="安全电压电压" edit="text" layVerify="number"></li>
                            <li field="o-aqdydr-dr-DoubleInRange" title="安全电压电容" edit="text" layVerify="number"></li>
                            <li field="o-rsyl-o-RangeIntersect" title="燃烧压力（MPa）" edit="text" layVerify="number"></li>
                            <li field="o-rsylbz-o-StringLike" title="燃烧压力备注" edit="text"></li>
                        </ul>

                        <script type="text/html" id="select_lb">
                            <select>
                                <option value="">-请选择-</option>
                                <option value="点火具">点火具</option>
                                <option value="点火管">点火管</option>
                                <option value="传火管">传火管</option>
                                <option value="点火器">点火器</option>
                                <option value="火帽">火帽</option>
                                <option value="底火">底火</option>
                                <option value="点火头">点火头</option>
                                <option value="点火组件">点火组件</option>
                                <option value="抛射药盒">抛射药盒</option>
                            </select>
                        </script>

                    </div>
                </div>

                <div class="col-12 tm-block-col" id='content'>
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col">Id</td>
                                    <td scope="col">类别</td>
                                    <td scope="col">产品名称</td>
                                    <td scope="col">设计单位</td>
                                    <td scope="col">生产单位</td>
                                    <td scope="col">用途</td>
                                    <td scope="col">目前阶段</td>
                                    <td scope="col">操作</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>

            <footer>
                <div class="col-12 font-weight-light">
                    <p class="text-center text-black mb-0 px-10">
                        版权 &copy; <b>2019</b> 西安红叶通讯科技有限公司
                    </p>
                </div>
            </footer>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background:#FFF; color:#FFF; width:300%; height:100%; right:100%">
                        <div class="modal-header" style="padding: 10px;">
                            <h5 class="modal-title" id="myModalTitle" style="color:#080808"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body" id="myModalBody"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        layui.config({
            base: '../../Content/'//模块存放的目录
        }).extend({
            dynamicCondition: '/dynamicCondition'
        }).use(['table', 'form', 'dynamicCondition'], function () {
            var $ = layui.$, table = layui.table, form = layui.table;
            var dynamicCondition = layui.dynamicCondition;

            var dataFields = [{ field: "o-lb-o-StringLike", title: "类别", edit: "select", templet: "#select_lb" }
                , { field: "o-sjdw-o-StringLike", title: "设计单位", edit: "text", layVerify: "text"}
                , { field: "o-scdw-o-StringLike", title: "生产单位", edit: "text" }
                , { field: "o-xh-o-StringLike", title: "型号", edit: "text" }
                , { field: "o-th-o-StringLike", title: "图号", edit: "text" }
                , { field: "o-dh-o-StringLike", title: "代号", edit: "text" }
                , { field: "o-yzrq-o-DateTimeInRange", title: "研制日期", edit: "date" }
                , { field: "o-dxrq-o-DateTimeInRange", title: "定型日期", edit: "date" }
                , { field: "o-gydx-o-DateTimeInRange", title: "工艺定型", edit: "date" }
                , { field: "o-yt-o-StringLike", title: "用途", edit: "date" }
                , { field: "o-xtzc-o-StringLike", title: "系统组成", edit: "text" }
                , { field: "o-mqjd-o-StringLike", title: "目前阶段", edit: "text" }
                , { field: "o-jssm-o-IntInRange", title: "桥丝数目", edit: "text", layVerify: "number" }
                , { field: "o-zcsm-o-IntInRange", title: "贮存寿命", edit: "text", layVerify: "number" }

                //常规查询属性
                , { field: "Conventionals-zj-cd-DoubleInRange", title: "直径", edit: "text", layVerify: "number" }
                , { field: "Conventionals-cd-cd-DoubleInRange", title: "常规长度", edit: "text", layVerify: "number" }

                , { field: "o-jx-cd-DoubleInRange", title: "脚线", edit: "text", layVerify: "number" }
                , { field: "o-zcd-cd-DoubleInRange", title: "总长度", edit: "text", layVerify: "number" }
                , { field: "o-gbhd-cd-DoubleInRange", title: "隔板厚度", edit: "text", layVerify: "number" }
                , { field: "o-szj-cd-RangeIntersect", title: "索直径", edit: "text", layVerify: "number" }

                //索普通直径
                , { field: "CableDiameters-ptszj-cd-DoubleInRange", title: "普通索直径", edit: "text", layVerify: "number" }

                , { field: "o-sMDFyzzj-cd-DoubleInRange", title: "索MDF（银质）直径", edit: "text", layVerify: "number" }

                //速爆
                , { field: "SpeedDetonations-bs-o-RangeIntersect", title: "爆速上限（m/s）", edit: "text", layVerify: "number" }
                , { field: "SpeedDetonations-bsbz-o-StringLike", title: "爆速备注", edit: "text" }

                , { field: "o-db-cd-DoubleInRange", title: "对边", edit: "text", layVerify: "number" }
                , { field: "o-djx-cd-DoubleInRange", title: "对角线", edit: "text", layVerify: "number" }

                //接口信息
                , { field: "InterfaceInformations-lw-cd-DoubleInRange", title: "螺纹", edit: "text", layVerify: "number" }
                , { field: "InterfaceInformations-lj-cd-DoubleInRange", title: "螺距", edit: "text", layVerify: "number" }
                , { field: "InterfaceInformations-cd-cd-DoubleInRange", title: "接口长度", edit: "text", layVerify: "number" }

                //直流电阻
                , { field: "DcResistances-dzqgs-o-IntInRange", title: "直流电阻桥个数", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzfwz-dz-RangeIntersect", title: "电阻范围", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzz-dz-DoubleInRange", title: "电阻值", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzgcz-dz-DoubleInRange", title: "电阻公差值", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzxyz-dz-DoubleInRange", title: "电阻小于值", edit: "text", layVerify: "number" }
                , { field: "DcResistances-dzbz-o-StringLike", title: "电阻备注", edit: "text" }

                , { field: "o-jcdl-dl-DoubleInRange", title: "检测电流", edit: "text", layVerify: "number" }
                , { field: "o-jddr-dr-DoubleInRange", title: "静电电容", edit: "text", layVerify: "number" }
                , { field: "o-jddy-dy-DoubleInRange", title: "静电电压", edit: "text", layVerify: "number" }
                , { field: "o-cldz-dz-DoubleInRange", title: "串联电阻", edit: "text", layVerify: "number" }

                //发火条件
                , { field: "IgnitionConditions-qgs-o-IntInRange", title: "发火条件桥个数", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdy-o-RangeIntersect", title: "发火电压", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdr-dr-DoubleInRange", title: "发火电容", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdl-dl-RangeIntersect", title: "发火电流", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-fhdlss-sj-DoubleInRange", title: "发火电流时间", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-cz-zl-DoubleInRange", title: "锤重", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-lg-cd-DoubleInRange", title: "落高", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jzcjl-o-DoubleInRange", title: "激针刺激量（g•cm）", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jzl-o-RangeIntersect", title: "激针力", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-jztcl-cd-RangeIntersect", title: "激针突出量", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-thgd-cd-DoubleInRange", title: "弹簧高度", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-kl-o-DoubleInRange", title: "抗力", edit: "text", layVerify: "number" }
                , { field: "IgnitionConditions-nl-nl-DoubleInRange", title: "能量", edit: "text", layVerify: "number" }

                , { field: "o-zysj-sj-RangeIntersect", title: "作用时间", edit: "text", layVerify: "number" }
                , { field: "o-zysjbz-o-StringLike", title: "作用时间备注", edit: "text"}

                //延时时间
                , { field: "DelayTimes-wdtj-o-DoubleInRange", title: "温度条件（摄氏度）", edit: "text", layVerify: "number" }
                , { field: "DelayTimes-yqsj-sj-RangeIntersect", title: "延期时间", edit: "text", layVerify: "number" }
                , { field: "DelayTimes-yqsjbz-o-StringLike", title: "延期时间备注", edit: "text" }

                , { field: "o-jgs-o-IntInRange", title: "安全电流桥个数", edit: "text", layVerify: "number"}
                , { field: "o-aydlz-dl-RangeIntersect", title: "安全电流值", edit: "text", layVerify: "number" }
                , { field: "o-ssj-sj-DoubleInRange", title: "时间值", edit: "text", layVerify: "number" }
                , { field: "o-glz-o-DoubleInRange", title: "功率值", edit: "text", layVerify: "number" }
                , { field: "o-aqdlbz-o-StringLike", title: "安全电流备注", edit: "text" }
                , { field: "o-aqdydy-dy-DoubleInRange", title: "安全电压电压", edit: "text", layVerify: "number" }
                , { field: "o-aqdydr-dr-DoubleInRange", title: "安全电压电容", edit: "text", layVerify: "number" }
                , { field: "o-rsyl-o-RangeIntersect", title: "燃烧压力（MPa）", edit: "text", layVerify: "number" }
                , { field: "o-rsylbz-o-StringLike", title: "燃烧压力备注", edit: "text" }
            ];

            //请求参数为json字符串模式
            var dc = dynamicCondition.create({
                elem: "#dcDemo" //通过容器选择器传入，也可以$("#dcDemo"),或者document.getElementById("dcDemo")
                //,tableId:"listTable" //静态页面不好演示table数据表格更新
                , type: "complex"  //type:"simple"/"complex"
                , requestDataType: "json"  //"array"/"json" 默认array
                , conditionTextId: "#msg-json"
                //当有多个动态条件查询实例时，定义instanceName属性可以通过dynamicCondition.getInstance(instanceName)获取对应的实例
                , instanceName: "complexInstance-json"
                , queryCallBack: function (requestData) {
                    $.ajax({
                        url: "@Url.Action("Query")",
                        type: "post",
                        dataType: "html",
                        data: JSON.stringify(requestData),
                        success: function (data) {
                            if (data) {
                                $('#content').html(data);
                            } else {
                                alert("数据获取失败！");
                            }
                        }
                    })
                }
            });

            /**复杂查询*/
            $("#complexBtn-json").on("click", function () {
                dynamicCondition.getInstance("complexInstance-json").open();
            })

        });
    </script>
</body>
</html>
