@model ProductQuery.Models.User
@{
    Layout = "~/Views/Admin/AdminIndex.cshtml";
}

<div class="container mt-5">
    <!-- row -->
    <div class="row tm-content-row">
        <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                <h2 class="tm-block-title">Change Avatar</h2>
                <div class="tm-avatar-container">
                    <img src="img/avatar.png"
                         alt="Avatar"
                         class="tm-avatar img-fluid mb-4" />
                    <a href="#" class="tm-avatar-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                </div>
                <button class="btn btn-primary btn-block text-uppercase">
                    Upload New Photo
                </button>
            </div>
        </div>
        <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
                <h2 class="tm-block-title">设置我的个人信息</h2>
                <form action="" class="tm-signup-form row">
                    <div class="form-group col-lg-6">
                        <label for="name">用户名</label>
                        <input id="name"
                               name="name"
                               type="text"
                               class="form-control validate" />
                        @Html.TextBoxFor(user => user.Phone, new { @class = "form-control validate", id = "phone" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="email">联系电话</label>
                        @Html.TextBoxFor(user => user.Phone, new { @class = "form-control validate", id = "phone" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="password">我的权限</label>
                        <input id="password"
                               name="password"
                               type="password"
                               class="form-control validate" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="tm-hide-sm">&nbsp;</label>
                        <button type="submit"
                                class="btn btn-primary btn-block text-uppercase">
                            更新密码
                        </button>
                    </div>
                    <div class="col-12">
                        <button type="submit"
                                class="btn btn-primary btn-block text-uppercase">
                            更新我的个人信息
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

